        <div class="page-header">
          <h1><%= @title%></h1>
          <p class="lead"><%= @index_message %></p>
        </div>
        <% @first_post.each do |post|  %>
          <%= render "share/archive_preview",:post=>post, :scrollDown=>true%>
        <% end %>
        <div class="span6">
        <%unless @top_photos.empty? %>
            <div class="text-left">
              <h4 id="top_photos_title"><%=t(:top_photos_title)%></h4>
            </div>
            <div>
              <ul class="thumbnails">
                <% @top_photos.each do |photo| %>
                <li class="span2">
                  <a href="#" class="thumbnail" href="<%= photo.image.url(:large) %>">
                    <%= image_tag photo.image.url(:thumb), :height => "100px" %>
                  </a>
                </li>
                <% end %>
              </ul>
            </div>
        <% else %>
          нет добавленных фотографий в архиве
        <% end %>
        </div>
        <div class="pull-right" id="instagram">
          <div class="text-left" style='margin-left:10px'>
            <h4>Записи в Instagram по тегу <a>#9april</a></h4>
          </div>
          <div>
            <!-- www.instagme.com -->
            <iframe src="http://www.instagme.com/in/?h=d3cyfGlufDEwMHwzfDJ8fHllc3wxNXx1bmRlZmluZWQ=" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:375px; height: 250px" ></iframe>
          </div>
        </div>
        <!--
        <p>
          <h2><small>До дня штурма Кенигсберга осталось</small> 15 дней</h2>
        </p>
        -->
        <div class="span12">
          <a name="infografika">
            <img alt="Infograf" src="/images/infograf.jpg" width="900px">
          </a>
        </div>

        <%unless @another_posts.empty? %>
        <div class="span6" style="margin-left:0px">
            <a href="#" name="day_post"><h3 style="color:black" id="arhive_posts_index"><%=t(:arhive_posts_index)%></h3></a>
        </div>
        <div class="day_post">
            <% @another_posts.each do |post|%>
              <%= render "share/archive_preview",:post=>post %>
            <% end %>
         </div> 
         <% end %>