        <div class="page-header">
          <h1><%= @title%></h1>
          <p class="lead"><%= @index_message %></p>
        </div>
        <% @first_post.each do |post|  %>
          <%= render "share/archive_preview",:post=>post, :scrollDown=>true%>
        <% end %>
        <!--
        <p>
          <h2><small>До дня штурма Кенигсберга осталось</small> 15 дней</h2>
        </p>
        -->
        <div class="span12">
          <a name="infografika">
            <img alt="Infograf" src="/images/infograf.jpg" width="900px">
          </a>
            <BR />
            <div class="pull-left" style="float:left">
              <img src="/images/map.jpg" width="900px">
            </div>
            <div class="pull-right" style="float:left">
                <p><small>План разгрома кенигсбергской группировки состоял в том, чтобы мощными ударами с севера и юга по сходящимся направлениям рассечь силы гарнизона и штурмом овладеть городом. Основная роль при штурме города отводилась огню артиллерии всех калибров, включая орудия особой мощности, а также действиям авиации, которая должна была сопровождать войска и полностью деморализовать обороняющегося противника.</small></p>
            </div>
        </div>


        <%unless @another_posts.empty? %>
        <div class="span6" style="margin-left:0px">
            <a href="/archive" name="day_post"><h3 style="color:black" id="arhive_posts_index"><%=t(:arhive_posts_index)%></h3></a>
        </div>
        <div class="day_post">
            <% @another_posts.each do |post|%>
              <%= render "share/archive_preview",:post=>post %>
            <% end %>
         </div> 
         <% end %>
