        <div class="page-header">
          <h1><%= @title%></h1>
          <p class="lead"><%= @index_message %></p>
        </div>
        <% @first_post.each do |post|  %>
          <div class="row">
              <div class="span12">
                <div class="row">
                  <div class="span12">
                    <h4><strong><a href="#" style="color:black"><%=h post.name %></a></strong></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="span2">
                    <a href="#" class="thumbnail">
                        <%= image_tag post.image.url(:thumb), :height => "100px" %>
                    </a>
                  </div>
                  <div class="span9">      
                    <p>
                      <%=h post.preview_content %>
                    </p>
                    <p><a class="btn" href="#">Читать далее</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="span11">
                    <p></p>
                    <p>
                        <div class='pull-left'>
                              <div style="float:left;margin:4px">
                                <i class="icon-calendar"></i> 24 марта 2012 |
                              </div>
                              <script type="text/javascript">(function() {
                               if (window.pluso && typeof window.pluso.start == "function") return;
                               var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                               s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                               s.src = d.location.protocol  + '//share.pluso.ru/pluso-like.js';
                               var h=d[g]('head')[0] || d[g]('body')[0];
                               h.appendChild(s);
                              })();</script>
                              <div class="pluso pull-right" data-options="small,square,line,horizontal,counter,theme=02" data-services="twitter,vkontakte,facebook,google,livejournal" data-background="#ebebeb" data-url="http://klops.ru/"></div>
                        </div>
                        <div class='pull-right'><button class="btn btn-medium btn-inverse" type="button">Предыдущие дни</button></div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <hr>
        <% end %>
        <%if @top_photos %>
        <div class="span6">
          <div class="text-left">
            <h4>Фотохроника штурма</h4>
          </div>
          <div>
            <ul class="thumbnails">
              <% @top_photos.each do |photo| %>
              <li class="span2">
                <a href="#" class="thumbnail">
                  <!--
                  <img src="examples/55a377c3cbea.jpg" alt="" height="100px">
                  -->
                  <%= image_tag photo.image.url(:thumb), :height => "100px" %>
                </a>
              </li>
              <% end %>

            </ul>
          </div>
        </div>
        <% end %>
        <div class="pull-right" id="instagram">
          <div class="text-left" style='margin-left:10px'>
            <h4>Записи в Instagram по тегу <a>#9april</a></h4>
          </div>
          <div>
            <!-- www.instagme.com -->
            <iframe src="http://www.instagme.com/in/?h=d3cyfGlufDEwMHwzfDJ8fHllc3wxNXx1bmRlZmluZWQ=" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:375px; height: 250px" ></iframe>
          </div>
        </div>
        <!--
        <p>
          <h2><small>До дня штурма Кенигсберга осталось</small> 15 дней</h2>
        </p>
        -->
        <div class="clear:both pull-left"></div>
        <div>
              <%  image_tag("info2.jpg") %>
        </div>
        <div class="day_post">

            <div class="row">
              <div class="span12">
                <div class="row">
                  <div class="span12">
                    <h4><strong><a href="#">За 15 дней до взятия Кенигсберга</a></strong></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="span2">
                    <a href="#" class="thumbnail">
                        <img src="examples/55a377c3cbea.jpg" alt="">
                    </a>
                  </div>
                  <div class="span9">      
                    <p>
                      Наступление войск фронта началось 6 апреля. Для штурма укреплений были созданы 26 штурмовых отрядов и 104 штурмовые группы — как из состава стрелковых частей, так и из инженерных войск — десяти инженерно-саперных бригад, трех штурмовых инженерно-саперных бригад, двух моторизованных инженерных бригад и одной понтонной бригады.
                    </p>
                    <p><a class="btn" href="#">Читать далее</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="span11">
                    <p></p>
                    <p>
                        <div class='pull-left'>
                           <div style="float:left;margin:4px">
                            <i class="icon-calendar"></i> 24 марта 2012 |
                          </div>
                              <script type="text/javascript">(function() {
                               if (window.pluso && typeof window.pluso.start == "function") return;
                               var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                               s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                               s.src = d.location.protocol  + '//share.pluso.ru/pluso-like.js';
                               var h=d[g]('head')[0] || d[g]('body')[0];
                               h.appendChild(s);
                              })();</script>
                              <div class="pluso pull-right" data-options="small,square,line,horizontal,counter,theme=02" data-services="twitter,vkontakte,facebook,google,livejournal" data-background="#ebebeb" data-url="http://klops.ru/"></div>
                        </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="span12">
                <div class="row">
                  <div class="span12">
                    <h4><strong><a href="#">За 15 дней до взятия Кенигсберга</a></strong></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="span2">
                    <a href="#" class="thumbnail">
                        <img src="examples/55a377c3cbea.jpg" alt="">
                    </a>
                  </div>
                  <div class="span9">      
                    <p>
                      Наступление войск фронта началось 6 апреля. Для штурма укреплений были созданы 26 штурмовых отрядов и 104 штурмовые группы — как из состава стрелковых частей, так и из инженерных войск — десяти инженерно-саперных бригад, трех штурмовых инженерно-саперных бригад, двух моторизованных инженерных бригад и одной понтонной бригады.
                    </p>
                    <p><a class="btn" href="#">Читать далее</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="span11">
                    <p></p>
                    <p>
                        <div class='pull-left'>
                           <div style="float:left;margin:4px">
                            <i class="icon-calendar"></i> 24 марта 2012 |
                          </div>
                              <script type="text/javascript">(function() {
                               if (window.pluso && typeof window.pluso.start == "function") return;
                               var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                               s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                               s.src = d.location.protocol  + '//share.pluso.ru/pluso-like.js';
                               var h=d[g]('head')[0] || d[g]('body')[0];
                               h.appendChild(s);
                              })();</script>
                              <div class="pluso pull-right" data-options="small,square,line,horizontal,counter,theme=02" data-services="twitter,vkontakte,facebook,google,livejournal" data-background="#ebebeb" data-url="http://klops.ru/"></div>
                        </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="span12">
                <div class="row">
                  <div class="span12">
                    <h4><strong><a href="#">За 15 дней до взятия Кенигсберга</a></strong></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="span2">
                    <a href="#" class="thumbnail">
                        <img src="examples/55a377c3cbea.jpg" alt="">
                    </a>
                  </div>
                  <div class="span9">      
                    <p>
                      Наступление войск фронта началось 6 апреля. Для штурма укреплений были созданы 26 штурмовых отрядов и 104 штурмовые группы — как из состава стрелковых частей, так и из инженерных войск — десяти инженерно-саперных бригад, трех штурмовых инженерно-саперных бригад, двух моторизованных инженерных бригад и одной понтонной бригады.
                    </p>
                    <p><a class="btn" href="#">Читать далее</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="span11">
                    <p></p>
                    <p>
                        <div class='pull-left'>
                           <div style="float:left;margin:4px">
                            <i class="icon-calendar"></i> 24 марта 2012 |
                          </div>
                              <script type="text/javascript">(function() {
                               if (window.pluso && typeof window.pluso.start == "function") return;
                               var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                               s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                               s.src = d.location.protocol  + '//share.pluso.ru/pluso-like.js';
                               var h=d[g]('head')[0] || d[g]('body')[0];
                               h.appendChild(s);
                              })();</script>
                              <div class="pluso pull-right" data-options="small,square,line,horizontal,counter,theme=02" data-services="twitter,vkontakte,facebook,google,livejournal" data-background="#ebebeb" data-url="http://klops.ru/"></div>
                        </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="span12">
                <div class="row">
                  <div class="span12">
                    <h4><strong><a href="#">За 15 дней до взятия Кенигсберга</a></strong></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="span2">
                    <a href="#" class="thumbnail">
                        <img src="examples/55a377c3cbea.jpg" alt="">
                    </a>
                  </div>
                  <div class="span9">      
                    <p>
                      Наступление войск фронта началось 6 апреля. Для штурма укреплений были созданы 26 штурмовых отрядов и 104 штурмовые группы — как из состава стрелковых частей, так и из инженерных войск — десяти инженерно-саперных бригад, трех штурмовых инженерно-саперных бригад, двух моторизованных инженерных бригад и одной понтонной бригады.
                    </p>
                    <p><a class="btn" href="#">Читать далее</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="span11">
                    <p></p>
                    <p>
                        <div class='pull-left'>
                           <div style="float:left;margin:4px">
                            <i class="icon-calendar"></i> 24 марта 2012 |
                          </div>
                              <script type="text/javascript">(function() {
                               if (window.pluso && typeof window.pluso.start == "function") return;
                               var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                               s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                               s.src = d.location.protocol  + '//share.pluso.ru/pluso-like.js';
                               var h=d[g]('head')[0] || d[g]('body')[0];
                               h.appendChild(s);
                              })();</script>
                              <div class="pluso pull-right" data-options="small,square,line,horizontal,counter,theme=02" data-services="twitter,vkontakte,facebook,google,livejournal" data-background="#ebebeb" data-url="http://klops.ru/"></div>
                        </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="span12">
                <div class="row">
                  <div class="span12">
                    <h4><strong><a href="#">За 15 дней до взятия Кенигсберга</a></strong></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="span2">
                    <a href="#" class="thumbnail">
                        <img src="examples/55a377c3cbea.jpg" alt="">
                    </a>
                  </div>
                  <div class="span9">      
                    <p>
                      Наступление войск фронта началось 6 апреля. Для штурма укреплений были созданы 26 штурмовых отрядов и 104 штурмовые группы — как из состава стрелковых частей, так и из инженерных войск — десяти инженерно-саперных бригад, трех штурмовых инженерно-саперных бригад, двух моторизованных инженерных бригад и одной понтонной бригады.
                    </p>
                    <p><a class="btn" href="#">Читать далее</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="span11">
                    <p></p>
                    <p>
                        <div class='pull-left'>
                           <div style="float:left;margin:4px">
                            <i class="icon-calendar"></i> 24 марта 2012 |
                          </div>
                              <script type="text/javascript">(function() {
                               if (window.pluso && typeof window.pluso.start == "function") return;
                               var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                               s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                               s.src = d.location.protocol  + '//share.pluso.ru/pluso-like.js';
                               var h=d[g]('head')[0] || d[g]('body')[0];
                               h.appendChild(s);
                              })();</script>
                              <div class="pluso pull-right" data-options="small,square,line,horizontal,counter,theme=02" data-services="twitter,vkontakte,facebook,google,livejournal" data-background="#ebebeb" data-url="http://klops.ru/"></div>
                        </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <hr>


         </div> 