        <div class="page-header">
          <h1><%= @title%></h1>
          <p class="lead"><%= @index_message %></p>
        </div>
        <% @first_post.each do |post|  %>
          <%= render "share/archive_preview",:post=>post, :scrollDown=>true%>
        <% end %>
        <!--
        <p>
          <h2><small>До дня штурма Кенигсберга осталось</small> 15 дней</h2>
        </p>
        -->
        <div class="span12">
          <a name="infografika">
            <img alt="Infograf" src="/images/infograf.jpg" width="900px">
            <BR />
	    <BR />
	    <div style="text-align:center">
	   <img src="http://900igr.net/datai/istorija/SHturm-Kjonigsberga/0003-002-Plan-shturma-Kjonigsberga.png" >
            </div>
	   </a>
        </div>

        <%unless @another_posts.empty? %>
        <div class="span6" style="margin-left:0px">
            <a href="#" name="day_post"><h3 style="color:black" id="arhive_posts_index"><%=t(:arhive_posts_index)%></h3></a>
        </div>
        <div class="day_post">
            <% @another_posts.each do |post|%>
              <%= render "share/archive_preview",:post=>post %>
            <% end %>
         </div> 
         <% end %>
