
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'layouts/head' %>
  </head>

  <body>


    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="navbar navbar-primary" id="menu" data-offset-top="-100px" style="width:900px">
          <div class="navbar-inner">
            <ul class="nav">
              <li class="<%= 'active' if params[:controller] == 'pages' &&  params[:action] == 'index' %>"><%= link_to "Главная", root_path %></li>
              <li><%= link_to "Инфографика", "/#infografika" %></li>
              <li class="<%= 'active' if params[:controller] == 'archive' &&  (params[:action] == 'index' or params[:action] == 'detail') %>"><%= link_to "Дневник взятия", archive_path %></li>
              <li class="<%= 'active' if params[:controller] == 'pages' &&  params[:action] == 'photos' %>"><%= link_to "Фотохроника", photos_path %></li>
              <li><%= link_to "Ветераны", veterans_path %></li>
            </ul>
            <div class="pull-right">
              <a href="http://klops.ru/"><%= image_tag("logo.png", :alt => "информационная поддержка", :class => "logo") %></a>
              <!--<img src="img/logo.png" style="max-height:20px;margin-top:7px" />-->
            </div>
            <div class="pull-right" style="margin-top:9px;margin-right:5px;color:gray"><small>спецпроект</small></div>
          </div>
        </div>


        <%= yield %>
      </div> 
      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container" style="text-align:center">
        <p class="muted credit"></p>
      </div>
    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      $('#menu').affix()

      $(document).ready(function(){
        $("a.thumbnail").fancybox();
      });
    </script>

  </body>
</html>
